<mat-sidenav-container
  fullscreen
  class="absolute top-0 right-0 bottom-0 left-0 font-Spartan dark:bg-12"
>
  <mat-sidenav #sidenav mode="over">
    <app-invoice-form />
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="absolute w-full font-Spartan">
      <div class="mx-auto max-w-[720px] w-full mt-20">
        <div class="flex justify-between w-full">
          <div class="flex flex-col">
            <span
              class="text-headingL font-bold leading-headingL tracking-headingL text-08 dark:text-11"
            >
              Invoices
            </span>
            <span
              class="text-bodyVariant font-medium leading-bodyVariant tracking-bodyVariant text-06 dark:text-05"
            >
              No invoices
            </span>
          </div>

          <div class="flex flex-row gap-10 items-center">
            <div>
              <span
                [matMenuTriggerFor]="menu"
                aria-label="filter by status"
                class="flex itens-center gap-4 font-Spartan text-headingS font-bold leading-headingS tracking-headingS text-08 dark:text-11 hover:cursor-pointer"
              >
                Filter by status
                <mat-icon class="text-01">expand_more</mat-icon>
              </span>
              <mat-menu
                #menu="matMenu"
                xPosition="before"
                class="mt-5 px-6 rounded-lg -mr-10 dark:bg-04"
              >
                <section
                  [formGroup]="filterByStatus"
                  (click)="$event.stopPropagation()"
                  class="flex flex-col w-48"
                >
                  <mat-checkbox color="primary" formControlName="draft">
                    <span
                      class="font-Spartan text-headingS font-bold leading-headingS tracking-headingS text-08 dark:text-11"
                    >
                      Draft
                    </span>
                  </mat-checkbox>
                  <mat-checkbox color="primary" formControlName="pending">
                    <span
                      class="font-Spartan text-headingS font-bold leading-headingS tracking-headingS text-08 dark:text-11"
                    >
                      Pending
                    </span>
                  </mat-checkbox>
                  <mat-checkbox color="primary" formControlName="paid">
                    <span
                      class="font-Spartan text-headingS font-bold leading-headingS tracking-headingS text-08 dark:text-11"
                    >
                      Paid
                    </span>
                  </mat-checkbox>
                </section>
              </mat-menu>
            </div>

            <app-button
              iconSrc="../../../../assets/icon-plus.svg"
              iconAlt="Plus icon"
              buttonText="New Invoice"
              (click)="sidenav.toggle()"
            />
          </div>
        </div>

        <div class="h-full flex flex-col gap-16 items-center text-center mt-36">
          <img src="../../../assets/illustration-empty.svg" alt="" />

          <div>
            <h1
              class="text-headingM font-bold leading-headingM tracking-headingM text-08 dark:text-11"
            >
              There is nothing here
            </h1>
            <span
              class="text-bodyVariant font-medium leading-bodyVariant tracking-bodyVariant text-06 dark:text-05"
            >
              Create an invoice by clicking the <br />
              <strong>New Invoice</strong> button and get started
            </span>
          </div>
        </div>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<style>
  mat-sidenav {
    max-width: 700px;
    width: 100%;
    border-radius: 0px 24px 24px 0px;
  }
</style>
